.project
.classpath

.settings/
target/
bin/

node
node_modules

docker/logs/*.log
docker/logs/*.txt
docker/dcat-harvester-server/build/*.war

dcat-datastore/src/test/resources/fuseki-home/db/

bundle.js
dcat-harvester.iml
dcat-admin-webapp/dcat-admin-webapp.iml
dcat-api-app/dcat-api-app.iml
dcat-datastore/dcat-datastore.iml
dcat-harvester-app/dcat-harvester-app.iml
