.project
.classpath

.settings/
target/

node
node_modules

fuseki-home/DB/dcat/
fuseki-home/DB/admin/

bundle.js
dcat-harvester.iml
dcat-admin-webapp/dcat-admin-webapp.iml
dcat-api-app/dcat-api-app.iml
dcat-datastore/dcat-datastore.iml
dcat-harvester-app/dcat-harvester-app.iml
